[submodule "crp_VIL/mpc_cam_driver"]
	path = crp_VIL/mpc_camera_driver
	url = https://github.com/jkk-research/mpc_cam_driver
[submodule "external/tier4_autoware_msgs"]
	path = external/tier4_autoware_msgs
	url = https://github.com/tier4/tier4_autoware_msgs.git
[submodule "external/autoware_msgs"]
	path = external/autoware_msgs
	url = https://github.com/autowarefoundation/autoware_msgs.git
[submodule "crp_APL/planners/plan_lat_lane_follow_ldm/src/functionCode"]
	path = crp_APL/planners/plan_lat_lane_follow_ldm/src/functionCode
	url = https://github.com/jkk-research/plan_lateral_planner_ldm.git
[submodule "crp_VIL/novatel_gps_driver"]
	path = crp_VIL/novatel_gps_driver
	url = https://github.com/jkk-research/novatel_gps_driver.git
[submodule "crp_VIL/nissan_can_driver"]
	path = crp_VIL/nissan_can_driver
	url = https://github.com/jkk-research/nissan_can_driver.git
[submodule "crp_VIL/lexus_bringup"]
	path = crp_VIL/lexus_bringup
	url = https://github.com/jkk-research/lexus_bringup
[submodule "crp_VIL/nissan_bringup"]
	path = crp_VIL/nissan_bringup
	url = https://github.com/szenergy/nissan_bringup
[submodule "crp_VIL/kvaser_interface"]
	path = crp_VIL/kvaser_interface
	url = https://github.com/astuff/kvaser_interface.git
	branch = ros2_master
[submodule "crp_VIL/duro_gps_driver"]
	path = crp_VIL/duro_gps_driver
	url = https://github.com/szenergy/duro_gps_driver
	branch = ros2-humble
[submodule "crp_VIL/kalman_pos"]
	path = crp_CIL/kalman_pos
	url = https://github.com/jkk-research/kalman_pos.git
	branch = ros2
[submodule "crp_VIL/ouster-ros"]
	path = crp_VIL/ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros.git
	branch = ros2
[submodule "crp_APL/controllers/ctrl_vehicle_control_nmpc/jkk_controllers"]
	path = crp_APL/controllers/ctrl_vehicle_control_nmpc/jkk_controllers
	url = https://github.com/jkk-research/jkk_controllers.git
[submodule "crp_CIL/RoadSegmentation-TRT"]
	path = crp_CIL/RoadSegmentation-TRT
	url = https://github.com/jkk-research/RoadSegmentation-TRT.git
[submodule "crp_CIL/prcp_grid_cam"]
	path = crp_CIL/prcp_grid_cam
	url = git@github.com:jkk-research/prcp_grid_cam.git
[submodule "crp_CIL/OccupancyMapping"]
	path = crp_CIL/OccupancyMapping
	url = git@github.com:jkk-research/OccupancyMapping.git
