[submodule "crp_VIL/mpc_cam_driver"]
	path = crp_VIL/mpc_camera_driver
	url = https://github.com/jkk-research/mpc_cam_driver
[submodule "crp_APL/planners/plan_lat_lane_follow_ldm/src/functionCode"]
	path = crp_APL/planners/plan_lat_lane_follow_ldm/src/functionCode
	url = git@github.com:jkk-research/plan_lateral_planner_ldm.git
